---
layout: default
title: Projects
---
<h2>Projects</h2>

These are my long term projects. For my other works, see <a href="\demos">demos</a>.

<ul >
    {% assign sorted = (site.posts | sort: 'start-date') | reverse %}
    {% for post in sorted %}
        {% if post.categories contains 'projects' %}
            <li>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                {% if post.end-date == "Ongoing" %}
                    <h4><i class="far fa-calendar"></i> {{ post.start-date | date_to_string  }} - Ongoing</h4>
                {% else %}
                    <h4><i class="far fa-calendar"></i> {{ post.start-date | date_to_string  }} - {{ post.end-date | date_to_string }}</h4>
                {% endif %}
                <img src="\assets\images\projects\{{ post.thumbnail }}">
                <p>{{ post.subtitle | strip_html }}</p>
                
            </li>
        {% endif %}
    {% endfor %}
</ul>
