.outter{
    background-color:ghostwhite;
}

.sidenav{
    background-color: ghostwhite;
    max-width: 100vw;
}

.sidenav a{
    text-decoration: none;
    padding-right: calc(100vw - 50px);
    margin-top: 8px;
    margin-bottom:8px;
    margin-left: 8px;
    border-left: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 3px;
    border-style: solid;
    font-size: 20px;
}

.main h2{
    font-size: 24px;
    padding-top: 8px;
}

.main h3{
    padding-top: 24px;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6
{
    font-weight: normal;
    width: 100%;
}

.main a {
    width: 100%;
}

.inner{
    padding: 8px;
}



