.outter{
    //background: url("/assets/images/background.png");
    background-size: 100%;
    background-color: ghostwhite;
}


.sidenav{
    height: 100%;
    width: 200px;
    margin-left: calc(50vw - 450px);
    position: fixed;
    z-index: 1;
    background-color:ghostwhite;
    overflow: hidden;
    padding-top: 32px;
    direction: rtl;

}

.sidenav a{
    margin-right: 8px;
    margin-bottom: 8px;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    padding-right: 8px;
    border-left: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 3px;
    border-style: solid;
}

.inner{
    margin-left: calc(50vw - 250px);
    height: 100vh;
    width: 600px;
    background-color: ghostwhite;
    padding: 32px;
}

.main h2{
    font-size: 24px;
    padding-top: 8px;
}

.main h3{
    padding-top: 24px;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6
{
    font-weight: normal;
    width: 100%;
}

.main a {
    width: 100%;
}

.main li{
    list-style-type: none;
}